*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  border-bottom: 1px solid #000;
  text-align: center;
}

.history-container {
  width: 250px;
  position: relative;
  margin: 1rem auto;
}

.history-log {
  text-align: end;
  font-size: 24px;
  color: #333a4d;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px 25px;
}

.calculator {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  background-color: #333a4d;
  color: #fff;
  text-align: right;
  padding: 0 20px;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background-color: #ccc;
  font-size: 2rem;
  color: #090909;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
  text-shadow: 0 1px rgba(255, 255, 255, .4); 
}

button:hover {
 background-color: #eaeaea;
}

button:focus {
  outline: 0;
  background-color: transparent;
}

.operator {
  color: #090909;
  background-color: #FEA170;
  border: none;
}

.operator:hover {
  background-color: #f78d6c;
}

.operator:focus{
  outline: 0;
  background-color: #f78d6c;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.all-clear:focus {
  outline: 0;
  background-color: #f17377;
}

.equal-sign {
  height: 100%;
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.equal-sign:focus {
  outline: 0;
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 15px 15px;
  padding: 15px;
  background-color: #ccc;
}
